* {
    padding: 0;
    margin: 0;
}

.gridCell {
    border: 0.1px solid lightgray;
    flex: auto;
    background: rgba(0, 0, 0, 0);
}

.gridRow {
    display: flex;
    flex: auto;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    height: 1000px;
}

#gridSizeSelector, #gridModeSelector {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

